<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="development">
        <include resource="logback/logback-development.xml" />
    </springProfile>
    <springProfile name="test">
        <include resource="logback/logback-test.xml" />
    </springProfile>
    <springProfile name="production">
        <include resource="logback/logback-production.xml" />
    </springProfile>
</configuration>
