<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.pano.pano.mapper.pano01.Pano0102Mapper">
    <resultMap id="BaseResultMap" type="cn.com.pano.pano.model.common01.PanoExposition01Model"
        extends="cn.com.pano.pano.mapper.common.PanoExpositionMapper.BaseResultMap">
        <result column="public_flg" jdbcType="VARCHAR" property="publicFlg" />
        <result column="deafult_flg" jdbcType="VARCHAR" property="deafultFlg" />
    </resultMap>

    <!--检索展览总件数 -->
    <select id="selectExpositionInfoCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from pano_exposition
        <where>
            1 = 1
            <if test="deleteFlag != null">
                AND DELETE_FLAG = #{deleteFlag}
            </if>
            <if test="expositionMapId != null">
                AND exposition_id like #{expositionMapId}
            </if>
            <if test="expositionName != null">
                AND exposition_name like #{expositionName}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="expositionStartDate != null">
                AND APPLY_DATE &gt;= #{expositionStartDate,jdbcType=DATE}
            </if>
            <if test="expositionEndDate != null">
                AND APPLY_DATE &lt;= #{expositionEndDate,jdbcType=DATE}
            </if>
        </where>
    </select>
    <!--检索展览一览 -->
    <select id="selectExpositionInfo" parameterType="map" resultMap="BaseResultMap">
        select * from pano_exposition
        <where>
            1 = 1
            <if test="deleteFlag != null">
                AND DELETE_FLAG = #{deleteFlag}
            </if>
            <if test="expositionMapId != null">
                AND exposition_id like #{expositionMapId}
            </if>
            <if test="expositionName != null">
                AND exposition_name like #{expositionName}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="expositionStartDate != null">
                AND APPLY_DATE &gt;= #{expositionStartDate,jdbcType=DATE}
            </if>
            <if test="expositionEndDate != null">
                AND APPLY_DATE &lt;= #{expositionEndDate,jdbcType=DATE}
            </if>
        </where>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offSet != null and pageSize !=null">
            limit #{offSet},#{pageSize}
        </if>
    </select>
</mapper>