<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="/thymeleaf/platform/common/common.html"></div>
<head th:replace="/thymeleaf/platform/common/head :: common_header(~{::title},~{::link})">
<title>登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="../../../../../../static/platform/common/js/createHead.js"
    th:src="@{/static/platform/common/js/createHead.js}"></script>
</head>

<body class="bg-white">
    <div id="userLoginDialog" class="container bg-white pt-2">
        <div class="row align-items-center justify-content-center" style="height: 100vh;">
            <!--关闭按钮-->
            <!--         <div class="row pb-2"> -->
            <!--             <div class="col-12"> -->
            <!--                 <button id="closeUserLoginDialog" type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
            <!--                     <span aria-hidden="true">&times;</span> -->
            <!--                 </button> -->
            <!--             </div> -->
            <!--         </div> -->
            <div class="row" style="width: 638px; min-width: 638px;">
                <div class="col-7 border-right">
                    <ul class="nav login-tab">
                        <li id="putongTab" class="nav-item col-6 text-center underL1">普通登录</li>
                        <li id="duanxingTab" class="nav-item col-6 text-center ">短信快捷登录</li>
                    </ul>
                    <!--普通登录-->
                    <div style="display: block;" id="generalLogin">
                        <form id="platform01010202Form-generalLogin" th:action="@{/}" th:object="${platform01010202Form}">
                            <input type="hidden" id="targetUrl" name="targetUrl" th:value="*{targetUrl}">
                            <div class="col-12 input-group mt-3 pl-0 pr-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-0">
                                        <span class="fa fa-user" aria-hidden="true"></span>
                                    </span>
                                </div>
                                <input id="username" name="loginId" placeholder="用户代码" maxlength="20" autocomplete="off"
                                    class="form-control shadow-none border-left-0 border-top-0 border-right-0" type="text">
                            </div>
                            <div class="col-12 input-group mt-4 mb-4 pl-0 pr-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-0">
                                        <span class="fa fa-key" aria-hidden="true"></span>
                                    </span>
                                </div>
                                <input id="password" name="password" placeholder="密码" maxlength="30" autocomplete="off"
                                    class="form-control shadow-none border-left-0 border-top-0 border-right-0" type="password">
                            </div>
                        </form>
                        <button id="loginBtn" type="button" class="btn pano-btn-danger col-12 pt-3 pb-3"
                            onclick="generalLogin()">
                            <span>登录</span>
                        </button>
                    </div>
                    <!--短信登录-->
                    <div style="display: none;" id="mobileLogin">
                        <div class="col-12 input-group mt-3 pl-0 pr-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white border-0">
                                    <span class="fa fa-mobile-alt" aria-hidden="true"></span>
                                </span>
                            </div>
                            <input id="phone" placeholder="手机号" maxlength="20" autocomplete="off"
                                class="form-control shadow-none border-left-0 border-top-0 border-right-0" type="text">
                        </div>
                        <div class="col-12 input-group mt-4 mb-4 pl-0 pr-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white border-0">
                                    <span class="fa fa-key" aria-hidden="true"></span>
                                </span>
                            </div>
                            <input id="word" placeholder="动态验证码" maxlength="20" autocomplete="off"
                                class="form-control shadow-none border-left-0 border-top-0 border-right-0" type="text">
                            <input type="button" class="btn have-nb" id="btn" value="免费获取验证码"
                                onclick="getLoginWord(this)" />
                        </div>
                        <button id="loginBtnTwo" type="button" class="btn pano-btn-danger col-12 pt-3 pb-3"
                            onclick="mobileLogin()">
                            <span>登录</span>
                        </button>
                    </div>
                </div>
                <div class="col-5 login-main-r">
                    <h5>合作网站账户登录</h5>
                    <p>
                        <span>还没有注册？</span>
                        <a id="toRegister" href="javascript:void(0);" style="color: #f05b72;">立即注册</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- 信息显示组件 -->
<link href="../../../../../../static/framework/plugins/overhang/1.0.5/overhang.css" rel="stylesheet"
    th:href="@{/static/framework/plugins/overhang/1.0.5/overhang.css}" />
<script src="../../../../../../static/framework/plugins/overhang/1.0.5/overhang.js"
    th:src="@{/static/framework/plugins/overhang/1.0.5/overhang.js}"></script>
<script src="../../../../../../static/framework/plugins/overhang/messageUtil.js"
    th:src="@{/static/framework/plugins/overhang/messageUtil.js}"></script>
<script src="../../../../../../static/platform/common/js/common.js" th:src="@{/static/platform/common/js/common.js}"></script>
<script src="../../../../../../static/platform/platform/js/platform01/platform01010202.js"
    th:src="@{/static/platform/platform/js/platform01/platform01010202.js}"></script>
<link href="../../../../../../static/platform/css/platform01/platform01010202.css" rel="stylesheet" type="text/css"
    th:href="@{/static/platform/platform/css/platform01/platform01010202.css}"></link>
</html>