<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.platform.platformz.mapper.platformz01.Platformz0101Mapper">
    <resultMap id="BaseResultMap" type="cn.com.platform.platformz.model.platformz01.Platformz0101Model"
        extends="cn.com.platform.platform.mapper.common.PlatformMemberMapper.BaseResultMap">
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    </resultMap>
    <!--检索指定用户的角色 -->
    <select id="selectMemberRoleInfo" parameterType="map" resultMap="BaseResultMap">
        select platform_member.*,platform_role.ROLE_ID,platform_role.ROLE_NAME from platform_member
        left join platform_role_user on (platform_member.MEMBER_ID = platform_role_user.MEMBER_ID)
        inner join platform_role on (platform_role.ROLE_ID = platform_role_user.ROLE_ID)
        <where>
            1 = 1
            <if test="deleteFlag != null">
                AND platform_member.DELETE_FLAG = #{deleteFlag}
            </if>
            <if test="memberId != null">
                AND platform_member.MEMBER_ID = #{memberId}
            </if>
        </where>
    </select>
    <!--根据roleId检索管理员用户 -->
    <select id="selectUsersInfoByRoleId" parameterType="map" resultMap="BaseResultMap">
        select * from platform_member cisAU
        LEFT JOIN platform_role_user cisARU 
        ON cisAU.MEMBER_ID = cisARU.MEMBER_ID
        <where>
            <if test="roleId != null">
                cisARU.ROLE_ID = #{roleId}
            </if>
        </where>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offSet != null and pageSize !=null">
            limit #{offSet},#{pageSize}
        </if>
    </select>
</mapper>