/*===============================
   Logo  Start   
=================================*/
.brand-logo {
    background: #ffffff;
}

.brand-logo a {
    color: #333333;
}

.brand-logo a {
    line-height: 70px;
    padding: 0 !important;
}

/*===============================
   Logo  End   
=================================*/

/*===============================
   okayNav  Start    顶部菜单栏
=================================*/
.okayNav-header {
    background-color: #ffffff;
}

.okayNav a {
    color: #666666;
}

.okayNav ul>li>a:hover {
    color: #1296db;
    background-color: #ffffff;
}

.okayNav ul>li>a.selected {
    color: #1296db;
    background-color: #ffffff;
}

.okayNav__nav--visible a:hover {
    /*     color: #546edb; */
    color: #1296db;
}

.okayNav__nav--invisible {
    /*   background: #1F1F1F; */
    background: #fff;
}

.okayNav ul>li>a:after {
    background: #1296db;
}

.okayNav__menu-toggle:hover span {
    background: #1296db;
}

.okayNav__menu-toggle span, .okayNav__menu-toggle.icon--active span {
    background: #999999;
}

.okayNav__menu-toggle.icon--active span {
    background: #1296db;
}

.okayNav__menu-toggle.icon--active:hover span {
    background: #1296db;
}

/*===============================
   okayNav  End   顶部菜单栏
=================================*/

/* 右边个人信息样式 */
.header-right {
    
}

}
.user-info-dropdown {
    /*     background-color: #1f1f1f; */
    
}

.user-info-dropdown .dropdown-toggle {
    color: #333333;
}

.user-info-dropdown .dropdown-toggle .user-icon {
    border: 1px solid #333333;
    color: #333333;
}

.user-info-dropdown .dropdown-toggle .user-name {
    color: #333333;
}

.user-info-dropdown .show .dropdown-toggle {
    color: #1296db;
}

.user-info-dropdown .show .dropdown-toggle .user-icon {
    border: 1px solid #1296db;
    color: #1296db;
}

.user-info-dropdown .show .dropdown-toggle .user-name {
    color: #1296db;
}

.user-info-dropdown .show a.dropdown-toggle {
    background-color: #bfe4ff;
}

.dropdown-menu-right .dropdown-item:before {
    background: #1296db;
}

.dropdown-menu-right .dropdown-item:after {
    background: #1296db;
}

/*==============================================================
	Header End
==============================================================*/

/*==============================================================
 	content Start  //标签栏
 ==============================================================*/
.content-tabs {
    border-bottom: solid 1px #dddddd;
}

.content-tabs .roll-nav, .page-tabs-list {
    color: #999;
}

.content-tabs .roll-nav:hover, .page-tabs a:hover {
    color: #1296db;
    background: #bfe4ff !important;
}

.content-tabs .roll-left {
    border-right: solid 1px #dddddd;
}

.content-tabs .roll-right {
    border-left: solid 1px #dddddd;
}

.page-tabs a {
    border-right: solid 1px #dddddd;
    color: #666666;
}

.page-tabs a i {
    color: #999999;
}

.page-tabs a i:hover {
    color: #1296db;
}

.page-tabs a.active {
    color: #1296db;
    background: #bfe4ff;
}

.page-tabs a.active i:hover, .page-tabs a.active:hover {
    background: #fff;
}

.page-tabs a:after {
    background: #1296db;
}

.page-tabs a:hover {
    color: #333333;
    color: #1296db;
}

/*==============================================================
	content End
 ==============================================================*/
/*==============================================================
	dropdown-menu Start //右侧定位选项卡
 ==============================================================*/
.dropdown-menu {
    border-color: #cccccc;
    border-color: blue;
    background-color: #white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.dropdown .dropdown-toggle.J_tabClose {
    color: #666666;
}

.dropdown .dropdown-toggle.J_tabClose:hover {
    background-color: #bfe4ff;
    color: #333333;
}

.dropdown.show .dropdown-toggle.J_tabClose {
    background-color: #1296db;
    color: #333333;
}

.dropdown-item.active, .dropdown-item:active {
    color: #333333;
    text-decoration: none;
    background-color: #1296db;
}

.dropdown-item {
    color: #333333;
}

.dropdown-item {
    color: #333333;
}

.dropdown-item .fa {
    color: #999999;
}

.dropdown-toggle::after {
    color: #999999;
}

.dropdown-item:hover, .dropdown-item:focus {
    background: #bfe4ff;
    color: #1296db;
}



/*==============================================================
	dropdown-menu End //右侧定位选项卡
 ==============================================================*/

/*==============================================================
	Side Bar Start  //左侧菜单栏
==============================================================*/
.left-side-bar {
    /*     background: #1f1f1f; */
    
}

.first-level-menu {
    background-color: #ffffff;
}

.first-level-menu a {
    color: #1296db;
}

.left-side-bar .mCustomScrollBox {
    background-color: white;
}

.sidebar-menu {
    background-color: white;
}

.sidebar-menu .dropdown-toggle {
	color: #333333;
}
.sidebar-menu .dropdown-toggle:after {
    color: #999999;
}

.sidebar-menu .dropdown-toggle:hover, .sidebar-menu .show>.dropdown-toggle
    {
    background: #bfe4ff;
    color: #1296db;
}

.sidebar-menu .submenu {
    /*background: #BFE4FF;*/
    background: #ffffff;
}

.sidebar-menu ul>li.dropdown:after {
    background: #1296db;
}

.sidebar-menu ul>li.show .J_menuItem:before {
    background: #1296db;
}

.sidebar-menu ul>li.show .J_menuItem:after {
    background: #1296db;
}


.sidebar-menu .submenu li a {
	color: #000000;
}
.sidebar-menu .submenu li a:hover, .sidebar-menu .submenu li a.active {
    /*  color: #0099ff; */
    color: #1296db;
}

.sidebar-menu .submenu li a:hover:before, .sidebar-menu .submenu li a.active:before
    {
    /*  color: #0099ff; */
    color: #1296db;
}
/*==============================================================
	Side Bar End  //左侧菜单栏
==============================================================*/

/*==============================================================
	Footer Start  //底部区域
==============================================================*/
.footer {
    border-top: 1px solid #dddddd;
}
/*==============================================================
	Footer End
==============================================================*/
/* ps99theme 主题 */
.ps99theme-dropdown-toggle {
    background: #1296db;
}

.ps99theme-dropdown-toggle .fa {
    color: #fff;
}

/* 图标色彩 SRART */
.okayNav a span {
    color: #1296db;
}

.okayNav a.selected span {
    color: #1296db;
}

.first-level-menu a span {
    color: #1296db;
}

.sidebar-menu .dropdown-toggle .fa {
	color: #333333;
}

.sidebar-menu .dropdown-toggle .fa {
	color: #1296db;
}

.sidebar-menu .dropdown-toggle:hover .fa, .sidebar-menu .show>.dropdown-toggle .fa
    {
    color: #1296db;
}

.dropdown-item:hover .fa {
    color: #1296db;
}

.sidebar-menu .dropdown-toggle:hover .fa, .sidebar-menu .show>.dropdown-toggle .fa
    {
    color: #1296db;
}

.dropdown-item:hover .fa {
    color: #1296db;
}

.sidebar-menu .submenu li:before {
    color: #1296db;
}
/* 图标色彩 END */

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}