<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="/thymeleaf/platform/common/common.html"></div>
<head th:replace="/thymeleaf/platform/common/head :: common_header(~{::title},~{::link})">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="../../../../../../static/platform/common/js/createHead.js" th:src="@{/static/platform/common/js/createHead.js}"></script>
<title>任务日志</title>
</head>
<body>
    <div class="card-body">
        <div class="card card-default">
            <div class="card-header">
                <label>检索条件</label>
            </div>
            <div class="card-body">
                <form id="platform9907FormSearch" class="form-horizontal" th:object="${platform9907Form}">
                    <div class="form-group form-row">
                        <label class="col-form-label col-sm-1" for="txt_selectedJobName">任务名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txt_selectedJobName" name="selectedJobName">
                        </div>
                        <label class="col-form-label col-sm-1" for="txt_selectedMethodName">方法名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txt_selectedMethodName"
                                name="selectedMethodName">
                        </div>
                    </div>
                </form>
                <div class="form-row">
                    <label class="col-form-label col-sm-1">&nbsp;</label>
                    <div class="col-sm-auto">
                        <button type="button" id="platform9907Btn_query" class="btn platform-btn-danger">
                            <span class="glyphicon glyphicon-search"></span>
                            <span>检索</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolbar" class="btn-group">
            <button id="platform9907Btn_delete" type="button" class="btn pano-btn-danger">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <span>删除</span>
            </button>
            <button id="platform9907Btn_clean" type="button" class="btn pano-btn-danger">
                <!--                 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> -->
                <i class="fa fa-trash"></i>
                <span>清空</span>
            </button>
        </div>
        <table id="table-jobLogList" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-field="checkbox" data-checkbox="true" data-halign="center" data-align="center"></th>
                    <th data-field="jobLogId" data-halign="center" data-align="left">日志编号</th>
                    <th data-field="jobName" data-halign="center" data-align="left">任务名称</th>
                    <th data-field="jobGroup" data-visible="false">任务组名</th>
                    <th data-field="methodName" data-halign="center" data-align="left">方法名称</th>
                    <th data-field="methodParams" data-halign="center" data-align="left">方法参数</th>
                    <th data-field="jobMessage" data-halign="center" data-align="left">日志信息</th>
                    <th data-field="status" data-halign="center" data-align="center">执行状态</th>
                    <th data-field="createTime" data-halign="center" data-align="left">创建时间</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Ajax提交用的Form -->
    <form id="platform9907FormAjaxSubmit"></form>
    <script src="../../../../../../static/platform/platform/js/platform99/platform9907.js" th:src="@{/static/platform/platform/js/platform99/platform9907.js}"></script>
</body>
</html>