<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.platform.platform.mapper.common01.PlatformLoginInfo01Mapper">
    <resultMap id="BaseResultMap" type="cn.com.platform.platform.model.common.PlatformLoginInfo"
        extends="cn.com.platform.platform.mapper.common.PlatformLoginInfoMapper.BaseResultMap">
    </resultMap>
    <!--检索用户登陆日志总件数 -->
    <select id="selectLoginInfoCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from platform_login_info
        <where>
            1 = 1
            <if test="loginId != null">
                AND LOGIN_ID LIKE CONCAT('%',#{loginId},'%')
            </if>
            <if test="ipAddress != null">
                AND IP_ADDRESS LIKE CONCAT('%',#{ipAddress},'%')
            </if>
        </where>
    </select>
    <!--检索用户登陆日志 -->
    <select id="selectLoginInfo" parameterType="map" resultMap="BaseResultMap">
        select * from platform_login_info
        <where>
            1 = 1
            <if test="loginId != null">
                AND LOGIN_ID LIKE CONCAT('%',#{loginId},'%')
            </if>
            <if test="ipAddress != null">
                AND IP_ADDRESS LIKE CONCAT('%',#{ipAddress},'%')
            </if>
        </where>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offSet != null and pageSize !=null">
            limit #{offSet},#{pageSize}
        </if>
    </select>
    <!--清空用户登陆日志 -->
    <update id="clearLoginInfo">
        truncate table platform_login_info
    </update>
</mapper>