<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.pano.pano.mapper.pano02.Pano0208Mapper">
    <resultMap id="BaseResultMap" type="cn.com.pano.pano.model.common01.PanoMaterial01Model"
        extends="cn.com.pano.pano.mapper.common.PanoMaterialMapper.BaseResultMap">
        <result column="public_flg" jdbcType="VARCHAR" property="publicFlg" />
        <result column="deafult_flg" jdbcType="VARCHAR" property="deafultFlg" />
    </resultMap>

    <!--检索展览总件数 -->
    <select id="selectMaterialInfoCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from pano_material
        <where>
            1 = 1
            <if test="deleteFlag != null">
                AND DELETE_FLAG = #{deleteFlag}
            </if>
            <if test="expositionId != null">
                AND exposition_id like #{expositionId}
            </if>
            <if test="materialTypeId != null">
                AND material_type_id like #{materialTypeId}
            </if>
            <if test="materialId != null">
                AND material_id like #{materialId}
            </if>
            <if test="materialName != null">
                AND material_name like #{materialName}
            </if>
        </where>
    </select>
    <!--检索展览一览 -->
    <select id="selectMaterialInfo" parameterType="map" resultMap="BaseResultMap">
        select * from pano_material
        <where>
            1 = 1
            <if test="deleteFlag != null">
                AND DELETE_FLAG = #{deleteFlag}
            </if>
            <if test="expositionId != null">
                AND exposition_id like #{expositionId}
            </if>
            <if test="materialTypeId != null">
                AND material_type_id like #{materialTypeId}
            </if>
            <if test="materialId != null">
                AND material_id like #{materialId}
            </if>
            <if test="materialName != null">
                AND material_name like #{materialName}
            </if>
        </where>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offSet != null and pageSize !=null">
            limit #{offSet},#{pageSize}
        </if>
    </select>
</mapper>